# ArchBlock main configuration file.

# Set this to true after you've set up the plugin. Don't do it beforehand.
# Make sure your database details are 100% correct BEFORE enabling this plugin.
enabled: false

# Database configuration.
db_config:
    # Remember, when specifying class names for anything bundled with this
    # plugin, you will need to prefix the package with "libs.".
    # For example, "com.mysql.jdbc.Driver" becomes "libs.com.mysql.jdbc.Driver".
    # Please see the BukkitDev or Github page for more information on this.

    # JDBC driver to use. Defaults to MySQL, "libs.com.mysql.jdbc.Driver"
    jdbc_driver: "libs.com.mysql.jdbc.Driver"

    # SQL dialect to use. Defaults to MySQL 5, "libs.org.hibernate.dialect.MySQL5InnoDBDialect"
    hibernate_dialect: "libs.org.hibernate.dialect.MySQL5InnoDBDialect"

    # JDBC connection URL. You may change "localhost", "3306" and "archblock" as needed
    # to change the database host, port and name respectively.
    connection_url: "jdbc:mysql://localhost:3306/archblock"

    # Username to use for the database
    username: "archblock"

    # Login password for the above user. Can be empty.
    password: "SomeKindOfSecurePasswordButNotThisOne"

    # Debug mode. This will print all the generated SQL to the terminal (which could slow things down quite a bit)
    debug: false

# Set this to true to enable automated WatchBlock data migration.
# Make sure you export your WatchBlock database to flatfiles before you do this,
# if you haven't done so already.
migrate: false

# Don't edit this - you'll break your configuration.
version: "0.1.0"
