# ArchBlock main configuration file.

# Set this to true after you've set up the plugin. Don't do it beforehand.
# Make sure your database details are 100% correct BEFORE enabling this plugin.
enabled: false

# The translation the plugin should use. Set this to "system" to try to use your
# system's language.
# Supported languages: en, nl
language: system

# Database configuration.
db_config:
    # Remember, when specifying class names for anything bundled with this
    # plugin, you will need to prefix the package with "libs.".
    # For example, "com.mysql.jdbc.Driver" becomes "libs.com.mysql.jdbc.Driver".
    # Please see the BukkitDev or Github page for more information on this.

    # JDBC driver to use. Defaults to MySQL, "libs.com.mysql.jdbc.Driver"
    jdbc_driver: "libs.com.mysql.jdbc.Driver"

    # SQL dialect to use. Defaults to MySQL 5, "libs.org.hibernate.dialect.MySQL5InnoDBDialect"
    hibernate_dialect: "libs.org.hibernate.dialect.MySQL5InnoDBDialect"

    # JDBC connection URL. You may change "localhost", "3306" and "archblock" as needed
    # to change the database host, port and name respectively.
    # If you're not using MySQL, check the documentation for your database driver.
    connection_url: "jdbc:mysql://localhost:3306/archblock"

    # Username to use for the database
    username: "archblock"

    # Login password for the above user. Can be empty.
    password: "SomeKindOfSecurePasswordButNotThisOne"

    # Debug mode. This will print all the generated SQL to the terminal (which could slow things down quite a bit)
    debug: false

# Set this to true to enable automated WatchBlock data migration.
# Make sure you export your WatchBlock database to flatfiles before you do this,
# if you haven't done so already.
migrate: false

protect_interact:
# This is a list of blocks to prevent players from interacting with
# if they aren't allowed to edit them (For example, right-clicking note blocks)
- ANVIL
- BEACON
- BED
- BED_BLOCK
- BREWING_STAND
- BURNING_FURNACE
- CAKE
- CAKE_BLOCK
- CAULDRON
- CHEST
- COMMAND
- CROPS
- DAYLIGHT_DETECTOR
- DIODE
- DIODE_BLOCK_OFF
- DIODE_BLOCK_ON
- DISPENSER
- DRAGON_EGG
- DROPPER
- ENCHANTMENT_TABLE
- ENDER_CHEST
- FENCE_GATE
- FLOWER_POT
- FURNACE
- GLOWING_REDSTONE_ORE
- GOLD_PLATE
- HOPPER
- IRON_DOOR
- IRON_DOOR_BLOCK
- IRON_PLATE
- JUKEBOX
- MOB_SPAWNER
- NETHER_STALK
- NETHER_WARTS
- NOTE_BLOCK
- REDSTONE_COMPARATOR
- REDSTONE_COMPARATOR_OFF
- REDSTONE_COMPARATOR_ON
- REDSTONE_ORE
- SIGN
- SIGN_POST
- SKULL
- STONE_BUTTON
- STONE_PLATE
- TNT
- TRAP_DOOR
- TRAPPED_CHEST
- WALL_SIGN
- WOOD_BUTTON
- WOOD_DOOR
- WOOD_PLATE
- WOODEN_DOOR
- WORKBENCH

# Don't edit this - you'll break your configuration.
version: "0.1.0b2"
